/.DS_Store
/.idea
/.git
/.github
/.gitignore
/Dockerfile
/README.md
/src/generated
/src/node_modules
/src/pub/static
/src/var
/src/vendor
/src/.editorconfig
/src/.htaccess
/src/.htaccess.sample
/src/.php-cs-fixer.dist.php
/src/.user.ini
/src/CHANGELOG.md
/src/COPYING.txt
/src/grunt-config.json.sample
/src/Gruntfile.js.sample
/src/LICENSE.txt
/src/LICENSE_AFL.txt
/src/package.json.sample
/src/SECURITY.md
