/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/auth.json
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/.php_cs
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
/pub/media/*.*
!/pub/media/.gitignore
/pub/media/attribute/*
!/pub/media/attribute/.gitignore
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.gitignore
/pub/media/customer/*
!/pub/media/customer/.gitignore
/pub/media/downloadable/*
!/pub/media/downloadable/.gitignore
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.gitignore
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.gitignore
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.gitignore
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.gitignore
/pub/media/tmp/*
!/pub/media/tmp/.gitignore
/pub/media/captcha/*
/pub/media/sitemap/*
!/pub/media/sitemap/.gitignore
/pub/static/*
!/pub/static/.gitignore
/var/*
!/var/.gitignore
/vendor/*
!/vendor/.gitignore
/generated/*
!/generated/.gitignore
.DS_Store

